body {
  background: #DDD;
  margin: 2em 10%; 
}

div#zona-voo {
  position: absolute;
  top: 0px;
  left: 0px;
  height:500px;
  width:100%;
}

.aegypti {
  display: block;
  position:fixed;
  width: 50px;
  height: 50px;
  margin: 2% auto;
  background: url('aedes.png') left center;
  animation: play .2s steps(6) infinite;
  z-index: 10;
}

@keyframes play {
    100% { background-position: -300px; }
}

a#aegypti-banner {
	background-image: url("aviso-semtexto.png");
    display: block;
    height: 329px;
    position: absolute;
    width: 939px;
    text-decoration: none;
    left: 20%;
    font-family: "Roboto Condensed",sans-serif;
}

.aegypti-banner-text {
	color: rgb(255, 255, 255);
    display: block;
    float: none;
    left: 437px;
    line-height: 1;
    position: relative;
    text-align: left;
    top: 84px;
    width: 47%;
}

.aegypti-banner-text.aegypti-banner-text1 {
    font-size: 32px;
    text-transform: uppercase;
}

.aegypti-banner-text.aegypti-banner-text2 {
    font-size: 24px;
    margin-top: 10px;
}

.aegypti-banner-text.aegypti-banner-text3 {
    color: yellow;
    font-size: 24px;
    top: 116px;
    width: 17%;
}

.aegypti-banner-text.aegypti-banner-text4 {
    font-size: 30px;
    font-style: italic;
    left: 719px;
    top: 74px;
}